<!-- <div
  class="w-full flex rounded-full border border-neutral bg-light transition-all overflow-hidden focus-within:border-primary">
  @if (innerLabel) {
  <span class="py-3 px-4 text-dark-300 font-medium text-sm border-r bg-slate-50">{{ innerLabel }}</span>
  }

  @if (icon) {
  <i-feather class="py-3 ml-4 fill-white text-dark-300" [name]="icon" />
  }
  <input class="w-full py-3 pl-4 text-dark-300 focus:outline-0 placeholder:text-dark-300 placeholder:font-medium"
    [type]="type" [placeholder]="placeholder" />
</div> -->

<select
  class="w-full flex py-3 pl-4 rounded-full border border-neutral bg-light transition-all overflow-hidden focus-within:border-primary"
>
  <option>Selecione um modelo</option>
  <option>GPT 4o</option>
</select>
