<aside
  class="w-72 h-screen overflow-auto flex flex-col bg-slate-50 border-r border-slate-300"
>
  <div class="flex items-center px-4 py-3 gap-1 border-b border-slate-300">
    <img
      class="w-9 h-9 object-contain object-center"
      src="../../../assets/logo.png"
    />
    <span class="font-bold text-2xl text-slate-800">Fast Assistent</span>
  </div>
  <div class="border-b border-slate-300">
    <a
      routerLink="/assistentes"
      class="flex items-center px-4 py-3.5 gap-2 decoration-transparent border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      <i-feather
        class="text-slate-400"
        name="user"
        style="width: 18px; height: 18px"
      />
      <span class="font-semibold text-base text-slate-800">Assistentes</span>
    </a>
    <a
      routerLink="/configuracoes"
      class="flex items-center px-4 py-3.5 gap-2 decoration-transparent border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      <i-feather
        class="text-slate-400"
        name="settings"
        style="width: 18px; height: 18px"
      />
      <span class="font-semibold text-base text-slate-800">Configurações</span>
    </a>
    <a
      routerLink="/chat"
      class="flex items-center px-4 py-3.5 gap-2 decoration-transparent border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      <i-feather
        class="text-slate-400"
        name="edit-2"
        style="width: 18px; height: 18px"
      />
      <span class="font-semibold text-base text-slate-800">Novo Chat</span>
    </a>
  </div>
  <details class="grid border-b border-slate-300 py-2" [open]="true">
    <summary class="flex items-center justify-between px-4 pt-2 pb-2">
      <span class="text-base font-semibold text-slate-800">Today</span>
      <div class="flex items-center">
        <span class="text-sm text text-slate-600">12 Total</span>
        <i-feather name="chevron-down" style="width: 24px; height: 24px" />
      </div>
    </summary>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
  </details>
  <details class="grid border-b border-slate-300 py-2" [open]="true">
    <summary class="flex items-center justify-between px-4 pt-2 pb-2">
      <span class="text-base font-semibold text-slate-800"
        >Previous 7 Days</span
      >
      <div class="flex items-center">
        <span class="text-sm text text-slate-600">118</span>
        <i-feather name="chevron-down" style="width: 24px; height: 24px" />
      </div>
    </summary>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
    <a
      routerLink="/chat"
      class="px-4 py-3 decoration-transparent text-sm font-normal text-slate-800 border-r-2 border-transparent hover:bg-indigo-50 hover:border-indigo-500"
    >
      How to be a better person?
    </a>
  </details>
  <div class="mt-auto flex gap-2 items-center justify-self-end p-4">
    <div
      class="h-10 w-10 flex items-center justify-center rounded-full bg-indigo-50"
    >
      <i-feather
        class="text-indigo-600"
        name="star"
        style="width: 20px; height: 20px"
      />
    </div>
    <div class="grid gap-1">
      <span class="text-slate-800 text-sm font-semibold">Upgrade Plan</span>
      <span class="text-slate-600 text-xs">Get GPT-8 and more</span>
    </div>
  </div>
</aside>
